<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Demo List</title>
  <link rel="stylesheet" href="../css/index.css">
</head>

<body>
  <div class="container">
    <div class="imgs">
      <a href="./split.html" title="分页"><img src="../images/index/split.jpg"></a>

      <a href="#"><img src="../images/index/home.jpg"></a>
      <a href="#"><img src="../images/index/todo1.jpg"></a>
      <a href="#"><img src="../images/index/todo2.jpg"></a>
    </div>
  </div>
</body>
<script src="../js/index.js"></script>

</html>